<!-- fragments/cookies.html -->
<div th:fragment="cookie-banner">
    <div id="cookie-banner" style="display:none;">
        <div class="cookie-banner-content">
            <p>
                Utilizamos cookies propias para mejorar tu experiencia y nuestros servicios.
                Puedes <a class="text-primary-emphasis" th:href="@{/user/cookie-policy}" target="_blank">leer más en nuestra política de cookies</a>.
            </p>
            <div class="cookie-banner-buttons">
                <button id="accept-cookies" class="btn btn-info rounded-pill btn-sm">Aceptar</button>
                <button id="reject-cookies" class="btn btn-danger rounded-pill btn-sm">Rechazar</button>
            </div>
        </div>
    </div>
</div>
